<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>

	<body ng-app="myModule">
		<div ng-controller="myController">
			<ul>
				<li ng-repeat="country in countries">
					{{country.Name}} = Index = {{$index}}
					<ul>
						<li ng-repeat="city in country.cities">
							{{city.name}} = Index = {{$index}}
						</li>
					</ul>
					
				</li>
			</ul>
		</div>
	</body>

</html>
