<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="script.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css"></script>
	</head>
	<body ng-app="myModule">
		<div ng-controller="myController">
			<input type="checkbox" ng-model="hideSalary" />Show Salary
			<br><br>
			
			<table>
				<thead>
					<th>Name</th>
					<th>Gender</th>
					<th>City</th>
					<th ng-show="hideSalary">Salary</th>
				</thead>
				<thbody>
					<tr ng-repeat="employee in employees">
						<td>{{employee.name}}</td>
						<td>{{employee.gender | gender}}</td>
						<td>{{employee.city}}</td>
						<td ng-show="hideSalary">{{employee.salary}}</td>
					</tr>
				</thbody>
			</table>
		</div>
	</body>
</html>
